.goods-content {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}
.container {
  padding: 3% 5% 0% 5%;
}

.card {
  width: 23%;
  height: 380px;
  box-shadow: 10px -1px 30px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: white;
  transition: 0.2s;
  position: relative;
  margin: 20px 1.5% 1px 0px;
  display: inline-flex;
  border-radius: 20px;
}

.category {
  border-color: white;
  border-width: 2px;
  border-radius: 60px;
  filter: drop-shadow(1px 1px 5px #b9b9b9);
  padding: 0.5%;
  font-size: 20px;
  cursor: pointer;
  font-family: sans-serif;

  &:hover {
    filter: drop-shadow(1px 1px 5px #ff6633);
    transition: all 0.3s ease-in-out;
  }
}

.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px;
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

.card__image:hover>img {
  transform: scale(1.1);
}

.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff0000;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
}

.card__bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%;
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
  font-family: sans-serif;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  /* margin-bottom: 10px; */
  font-weight: 400;
  font-size: 20px;
  /* line-height: 150%; */
  color: #313131;
  text-decoration: none;
  text-align: center;
}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: auto;
}

.card__add:hover {
  border: 1px solid #f02424;
  background-color: #f02424;
  color: #fff;
}

.container.flex-test-wrap {
  margin: 0px 95px 1px 95px;
}

.php {
  width: 100;
  height: 214;
}

.in_catal {
  font-family: sans-serif;
  text-align: center;

}
@media screen and (max-width: 768px) {
  .card {
    margin: 20px 2.5% 1px 0;
    width: 47%;
  }

}
@media screen and (max-width: 739px) {
  .card {
    margin: 20px 2.5% 1px 0;
    width: 47%;
  }

}

@media screen and (max-width: 525px) {
  .card__title {
    font-size: 18px;
  }

  .card {
    margin:         20px 0px 0px 2%;;
    width: 47.5%;
  }

}
@media screen and (max-width: 440px) {
  .card__title{
    font-size: 20px;
  }
  .card {
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
  .list{
    padding: none;
  }
}

@media screen and (max-width: 321px) {
  .card__title {
    font-size: 19px;
}
}