.card-inf{
    padding-top: 4%;
}
.image_card{
    text-align: center;
    width: 100%;
    padding-top: 4%;
}
body{
    font-family: sans-serif;
}
.card_h11{
    font-size: 50px;
    color:#A48A3F;
    text-align: center;
}
.card_content{
    margin: 0% 10% 0% 10%;
    
}
.card-images{
    width: 50%;
}
.txt-card{
    padding: 3%;
    border-radius: 30px;
    text-align: justify;
}

@media screen and (max-width: 1156px) {
    .card_h11 {
        font-size: 43px;
    }
    .txt-card p{
            font-family: sans-serif;
            font-size: 20px;
        
    }
}
@media screen and (max-width: 1025px) {
    .card_h11 {
        font-size: 40px;
    }
}
@media screen and (max-width: 969px) {
    .card_h11 {
        font-size: 32px;
    }
    .txt-card p{
            font-family: sans-serif;
            font-size: 19px;
        
    }
}

@media screen and (max-width: 786px) {
    .card_h11 {
        font-size: 24px;
    }
    .txt-card p{
            font-family: sans-serif;
            font-size: 18px;
        
    }
}
@media screen and (max-width: 481px) {
    .card_h11 {
        font-size: 23px;
    }
    .card-images{
        width: 60%;
    }
    .txt-card p{
            font-family: sans-serif;
            font-size: 17px;
        
    }
}