.manag-content{
    display: flex;
    align-items: center;
    padding-bottom: 4%;
    padding-top: 4%;
}
.manag-txt{
    padding-left: 2%;
    text-align: justify;
}
.manag-txt h1, h2{
    color: #DBB23E;
    font-size: 25px;
}
.manag-txt  h2{
    color: black;
}
.number_1{
    width: 30%;
    box-shadow: 3px 3px 25px 3px rgb(0 0 0 / 12%);
}
@media screen and (max-width: 1320px) {
 .manag-txt p{
        font-size: 19px;
    }
}
@media screen and (max-width: 1183px) {
    .manag-txt p{
        font-size: 18px;
    }
    .number_2{
        height: 444px;
    }
    .number_3{
        height: 372px;
    }
}
@media screen and (max-width: 1035px) {
    .manag-txt p{
        font-size: 17px;
    }
    .number_1 {
        width: 35%;
    }
}
@media screen and (max-width: 991px) {
    .manag-txt h1, h2{
        font-size: 22px;
    }
    .number_1 {
        width: 40%;
    }
}
@media screen and (max-width: 854px) {
    .number_1 {
        width: 40%;
    }
    .manag-txt h1, h2 {
        font-size: 21px;
    }
    .manag-txt p{
        font-size: 16px;
    }
    
   
}
@media screen and (max-width: 768px) {
    .manag-txt h1, h2 {
        font-size: 23px;
    }
    .manag-txt p {
        font-size: 18px;
    }
    .manag-content{
        display: block;
    }
    .number_1{
        width: 100%;
    }
}
@media screen and (max-width: 430px) {
    .manag-txt p {
        font-size: 17px;
    }    .manag-txt h1, h2 {
        font-size: 21px;
    }

}